
{{!-- 
<table>
  {{#each buffer}}
  <tr>
    <td>
      <strong>{{key}}:</strong>
    </td>
    <td>
      {{input value=value}}
    </td>
  </tr>
  {{/each}}
</table>

<button {{action 'save'}}>Update</button> --}}
<h1>{{this.name}}</h1>
<form role="form">
    <div class="form-group">
        <label>Titolo contest</label>
        {{input value=this.name class="form-control" }}
    </div>
    <div class="form-group">
        <label>Target</label>
        {{input value=this.targett class="form-control" }}
    </div>
    <div class="form-group">
        <label>Collezione</label>
        {{input value=this.collection class="form-control" }}
    </div>
    <div class="form-group">
        <label>Capo</label>
        {{input value=this.cloth class="form-control" }}
    </div>
    <div class="form-group">
        <label>Tipo tessuto</label>
        {{input value=this.fabric class="form-control" }}
    </div>
    <div class="form-group">
        <label>Grammatura</label>
        {{input value=this.gr class="form-control" }}
    </div>
    <div class="form-group">
        <label>Metri</label>
        {{input value=this.meters class="form-control" }}
    </div>
    <div class="form-group">
        <label>Descrizione</label>
        {{textarea value=this.description class="form-control" }}
    </div>
    <div class="form-group">
        <label>Premio</label>
        {{input value=this.win class="form-control" }}
        <p class="help-block">e.g.: 5.000</p>
    </div>
    <div class="form-group">
        <label>File PDF</label>
        <input type="file">
    </div>
    <div class="form-group" style="width:220px;">
      <label>Data/ora inizio</label>
      <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" />
        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
      </div>
    </div>

    <button type="submit" class="btn btn-default" {{action 'save'}} >Save</button>

</form>


{{outlet}}
